<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Avanlar Metal</title>
    <!-- Favicons -->
    <link href="uploads/template/img/favicon.png" rel="icon">
    <link href="~/uploads/template/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

</head>
<body class="index-page">
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/anasayfa" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="~/img/logo.png" alt=""> -->
            <h1 class="sitename">Sailor</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/anasayfa" class="@(ViewBag.ActivePage == 0 ? "active" : "")">Anasayfa</a></li>
                <li><a href="/hakkimizda" class="@(ViewBag.ActivePage == 1 ? "active" : "")">Hakkımızda</a></li>
                <li><a href="/hizmetlerimiz" class="@(ViewBag.ActivePage == 2 ? "active" : "")">Hizmetlerimiz</a></li>
                <li><a href="/projelerimiz" class="@(ViewBag.ActivePage == 3 ? "active" : "")">Projelerimiz</a></li>
                <li><a href="/lazerkesim" class="@(ViewBag.ActivePage == 4 ? "active" : "")">Lazer Kesim</a></li>
                <li><a href="/iletisim" class="@(ViewBag.ActivePage == 5 ? "active" : "")">İletişim</a></li>
                
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a href="/calculate" class="btn-getstarted" ><i class="bi bi-calculator mr-1"></i>Metal Ağırlık Hesaplama</a>

    </div>
</header>

<main class="main">
    @RenderBody()
</main>


<footer id="footer" class="footer dark-background body">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="/index.html" class="logo d-flex align-items-center">
                    <span class="sitename">Sailor</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Bahçesaray, Bahçe Saray 210 cadde No= 5/E</p>
                    <p>Aksaray/Merkez</p>
                    <p class="mt-3"><strong>Telefon:</strong> <span>+90 545 778 9727</span></p>
                    <p><strong>Mail:</strong> <span>info@avanlarmetal.com</span></p>
                </div>
                
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Sayfalar</h4>
                <ul>
                    <li><a href="/anasayfa">Anasayfa</a></li>
                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                    <li><a href="/hizmetlerimiz">Hizmetlerimiz</a></li>
                    <li><a href="/projelerimiz">Projelerimiz</a></li>
                    <li><a href="/lazerkesim">Lazer Kesim</a></li>
                    <li><a href="/calculate">Metal Ağırlık Hesaplama</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Hizmetlerimiz</h4>
                <ul>
                    <li>Demir Kapı Üretimi</li>
                    <li>Korkuluk İmalatı</li>
                    <li>Özel Metal İşlemeciliği</li>
                    <li>Tasarım ve Danışmanlık</li>
                    <li>Nakliye ve Montaj</li>
                   
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 footer-newsletter">
                <h4>Bize Ulaşın</h4>
                <p>Avanlar Metal olarak kaliteli ve dayanıklı metal çözümleri sunuyoruz. Bize ulaşmak için hemen iletişime geçin!</p>
                <div class="social-links d-flex mt-4">
                    <a href="https://wa.me/905457789727" target="_blank"><i class="bi bi-whatsapp"></i></a>
                   
                </div>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename"><a href="https://avanlarmetal.com">Avanlar Metal</a></strong> <span>Tüm Hakları Saklıdır</span></p>
      
    </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="lib/jquery/dist/jquery.min.js"></script>

<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/php-email-form/validate.js"></script>
<script src="~/vendor/aos/aos.js"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="~/js/main.js"></script>
<script>

    $(document).ready(function () {
        $('.mobile-nav-toggle').on('click', function () {
// Toggle the mobile nav visibility
            $('#navmenu').toggleClass('d-xl-none');

// Toggle the body class
            $('body').toggleClass('mobile-nav-active');

// Change the icon from 'bi-list' to 'bi-x' and vice versa
            if ($('body').hasClass('mobile-nav-active')) {
                $('.mobile-nav-toggle').removeClass('bi-list').addClass('bi-x');
            } else {
                $('.mobile-nav-toggle').removeClass('bi-x').addClass('bi-list');
            }
        });
    });

</script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>